doctype html
//- Template: view-source:https://getbootstrap.com/docs/4.0/examples/sticky-footer/
html(lang='en', ng-app='adminQuizApp')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='question_id', content=question_id)
    link(rel='icon', href='../../../../favicon.ico')
    title #{ title }
    //- Bootstrap core CSS
    link(href='/assets/libs/bootstrap/bootstrap.min.css', rel='stylesheet')
    link(href='/assets/css/style.css', rel='stylesheet')
  body(ng-controller='mainController')
    main(role='main', class='container')
      if (user && user.username == 'administrator')
        h1 Edit Quiz
        p Logged in as #{ user.username }
        div(class='card')
          h5(class='card-header', id='questionId') Quiz #{ question_id }
          div(class='card-body')
            p {{ questionText }}
            input#questionText.form-control(type='text', placeholder='{{ questionText }}')
            hr
            form(id='answerForm')
              .form-group(ng-repeat='answer in Answers')
                label(for='inputEmail') {{ answer.answer_text }} - {{ answer.is_correct }}
                input.form-control(type='text', placeholder='{{ answer.answer_text }} - {{ answer.answer_id }}')
            button(type="button" class='btn btn-primary', style='float: right;', ng-click='updateQuizAnswers()') Save
      else
        Please log in as administrator account
    // - jQuery
    script(src='/assets/libs/jquery/jquery.min.js')
    //- AngularJS
    script(src='/assets/libs/angular/angular.min.js')
    //- ANGULAR CUSTOM
    script(src='/assets/js/adminQuizApp.js')
